
Library/ArtifactDB
Library/ArtifactDB-lock
Library/Artifacts/01/01a349676a7b0c87ec0df31c768143dc
Library/Artifacts/1e/1ed31fc3f522fae67435d427feced504
Library/Artifacts/2f/2f799639c8f51bb3ae6af95f34b9f15c
Library/Artifacts/3f/3f488ccaa17c818f83ac50e7c6e50cf4
Library/Artifacts/93/9352790973414854d480003ad9d3e336
Library/Artifacts/96/96af25ac685c346f0772e0c027b9aa8c
Library/Artifacts/a5/a5bbef91f619a564050e8e2c19eb5964
Library/Artifacts/f3/f32aa3ae163ff4a38301ae7cad03227b
Library/Artifacts/f3/f3bc0400917382b22bcf4eb3c42ad7f5
Library/CurrentLayout-default.dwlt
Library/PackageCache/com.unity.cinemachine@2.6.17/.signature
Library/PackageManager/ProjectCache
Library/PackageManager/ProjectCache.md5
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/ScriptAssemblies/Cinemachine.dll
Library/ScriptAssemblies/Cinemachine.pdb
Library/ScriptAssemblies/com.unity.cinemachine.editor.dll
Library/ScriptAssemblies/com.unity.cinemachine.editor.pdb
Library/ScriptAssemblies/PsdPlugin.dll
Library/ScriptAssemblies/PsdPlugin.pdb
Library/ScriptAssemblies/Unity.2D.Animation.Editor.dll
Library/ScriptAssemblies/Unity.2D.Animation.Editor.pdb
Library/ScriptAssemblies/Unity.2D.Animation.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Animation.Runtime.pdb
Library/ScriptAssemblies/Unity.2D.Animation.Triangle.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Animation.Triangle.Runtime.pdb
Library/ScriptAssemblies/Unity.2D.Common.Editor.dll
Library/ScriptAssemblies/Unity.2D.Common.Editor.pdb
Library/ScriptAssemblies/Unity.2D.Common.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Common.Runtime.pdb
Library/ScriptAssemblies/Unity.2D.IK.Editor.dll
Library/ScriptAssemblies/Unity.2D.IK.Editor.pdb
Library/ScriptAssemblies/Unity.2D.IK.Runtime.dll
Library/ScriptAssemblies/Unity.2D.IK.Runtime.pdb
Library/ScriptAssemblies/Unity.2D.Path.Editor.dll
Library/ScriptAssemblies/Unity.2D.Path.Editor.pdb
Library/ScriptAssemblies/Unity.2D.PixelPerfect.dll
Library/ScriptAssemblies/Unity.2D.PixelPerfect.Editor.dll
Library/ScriptAssemblies/Unity.2D.PixelPerfect.Editor.pdb
Library/ScriptAssemblies/Unity.2D.PixelPerfect.pdb
Library/ScriptAssemblies/Unity.2D.Psdimporter.Editor.dll
Library/ScriptAssemblies/Unity.2D.Psdimporter.Editor.pdb
Library/ScriptAssemblies/Unity.2D.Sprite.Editor.dll
Library/ScriptAssemblies/Unity.2D.Sprite.Editor.pdb
Library/ScriptAssemblies/Unity.2D.SpriteShape.Editor.dll
Library/ScriptAssemblies/Unity.2D.SpriteShape.Editor.pdb
Library/ScriptAssemblies/Unity.2D.SpriteShape.Runtime.dll
Library/ScriptAssemblies/Unity.2D.SpriteShape.Runtime.pdb
Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.dll
Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.pdb
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Library/ScriptAssemblies/Unity.InternalAPIEditorBridge.001.dll
Library/ScriptAssemblies/Unity.InternalAPIEditorBridge.001.pdb
Library/ScriptAssemblies/Unity.InternalAPIEngineBridge.001.dll
Library/ScriptAssemblies/Unity.InternalAPIEngineBridge.001.pdb
Library/ScriptAssemblies/Unity.Mathematics.dll
Library/ScriptAssemblies/Unity.Mathematics.Editor.dll
Library/ScriptAssemblies/Unity.Mathematics.Editor.pdb
Library/ScriptAssemblies/Unity.Mathematics.pdb
Library/ScriptAssemblies/Unity.PlasticSCM.Editor.dll
Library/ScriptAssemblies/Unity.PlasticSCM.Editor.pdb
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.Rider.Editor.pdb
Library/ScriptAssemblies/Unity.Services.Core.Editor.dll
Library/ScriptAssemblies/Unity.Services.Core.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.pdb
Library/ScriptAssemblies/Unity.Timeline.pdb
Library/ScriptAssemblies/Unity.VisualStudio.Editor.dll
Library/ScriptAssemblies/Unity.VisualStudio.Editor.pdb
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.pdb
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.pdb
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEditor.UI.pdb
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ScriptAssemblies/UnityEngine.UI.pdb
Library/SourceAssetDB
Library/SourceAssetDB-lock
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler0.log
